BODY {
  background: #6699cc;   /* #5c92ae; */
  font-family: sans-serif;
  color: white;
}

H1, H2, H3, H4, H5, H6 {
      color: black;
}

H1 {
  letter-spacing: 0.4em
}

A:link    { color: orange; text-decoration: none; }
A:active  { color: yellow; text-decoration: none; }
A:hover   { color: yellow; text-decoration: underline; }
A:visited { color: silver; text-decoration: none; }
